fastapi
uvicorn[standard]
python-multipart
pydantic
qdrant-client
langchain
langchain-openai
langchain-text-splitters
langchain-community
langchain-qdrant
pypdf
sentence-transformers
huggingface_hub
numpy