fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
qdrant-client
langchain
langchain-openai
langchain-text-splitters
langchain-community
langchain-qdrant
pypdf
sentence-transformers
langchain-huggingface